body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #232323;
}

.container {
  max-height: 1000px; /* duża wartość */
  max-width: 600px;
  margin: 50px auto;
  width: 100%;
  background: black;
  padding: 20px;
  border-radius: 12px;

  transition: max-height 0.7s ease; /* 🔥 animacja */
  overflow: hidden;                 /* 🔥 ważne */
}

h1 {
  text-align: center;
}

.inputRow {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;

  outline: none;
  transition: all 0.2s ease;
}

input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #4f46e5;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}
button:active {
  transform: scale(0.95);
}

button:hover {
  background: #4338ca;
}

.notesList {
  display: flex;
  flex-direction: column;
  gap: 10px;

  height: auto;
  overflow: hidden;

  transition: height 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.noteCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f5f9;
  padding: 10px 15px;
  border-radius: 8px;
  animation: fadeInUp 0.5s ease;
  transition: all 0.3s ease, box-shadow 0.2s ease;
  transform: scale(1)
  
}
.noteCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}
.noteCard.active {
  background: #e0e7ff;
  border: 2px solid #4f46e5;
  transition: all 0.2s ease;
  transform: scale(0.97);
}

.noteCard span {
  word-break: break-word;
  overflow-wrap: break-word;
}

.noteCard.removing {
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.noteCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}